
table  {
    text-align: center;
    width:100%;
    border: 1px solid black;
  }
  th tr td{
    padding: 2px;
    text-align: center;
  
  }
  *{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color:rgb(31, 28, 27);
  }
  .container {
    position: relative;
  }
  .centered {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65%;
    left: 75%;
    width: 40%;
    height: 115%;
    transform: translate(-50%, -50%);
  }
  button{
    border-radius: 4%;
  }
  .error {
    color: red;
    text-align: center;
    font-size: 18px;
  }