<!-- HEADER -->
<nav class="navbar navbar-expand-lg navbar-light bg-transparent" style="background-color: black;">
  

      Flight Management System
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="buttonFlag" class="nav-item" style="margin-right: 30px; margin-top: 8px; color: orangered; font-size: large; font-weight: 800;">
            <em>Welcome {{username}} ✈</em>
      </li>
      <li class="nav-item">
          <button class="btn btn-info"  (click)="gotHome()">
              Home
          </button>
      </li>
     
      <li *ngIf="!buttonFlag" class="nav-item">
          <button class="btn btn-success" (click)="gotoLogin()">
              LOG IN
          </button>
      </li>
      <li *ngIf="buttonFlag" class="nav-item">
          <button class="btn btn-danger" (click)="gotoLogout()">
             LOG OUT
          </button>
      </li>
    </ul>
  </div>
</nav>
<!-- HEADER -->
