.error {
    color: red;
    text-align: center;
    font-size: 18px;
  }
  *{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
   
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
    padding: 3%;
  }
  
  .centered {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: black;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  button{
    
    border-radius: 14%;
    margin: 0% 0% 0% 35%;
  
  
  }