<style>
    .wrapper{
      min-height: 90vh;
    }
    h3{
      color:  #c37c01;
    }
  </style>
  <img src="assets/modify.gif" alt="view" width="100%" height="100%">
    <div class="centered">

    <h3 class="font-weight-bold">Modify Schedule Flights</h3>
    
        <form ngNativeValidate #form>
        
            <label>Schedule Flight ID: </label>
            <input (blur)="validateId()" #i type="number" class="form-control" type="number"  [(ngModel)]="scheduleFlightId" [ngModelOptions]="{standalone: true}" required>
            <!-- <small *ngIf="idValid" style="color: red;">Invalid ID.</small><br> -->
            <input type="submit" value="SEARCH" class="btn btn-primary" (click)="searchScheduleFlight(scheduleFlightId)" [disabled]="!scheduleFlightId">
            <br><br>
            <div *ngIf="show" style="color: black;">
                <label><b>Details: </b></label><br>
                <label>Flight ID: </label>
                <input type="number" #f class="form-control" value={{scheduleFlight.flight.flightNo}} required>
                <div class="invalid-feedback">Please fill out this field.</div>
                <br>
                <label>Available Seats: </label>
                <input type="number" #a class="form-control" value={{scheduleFlight.availableSeats}} required>
                <div class="invalid-feedback">Please fill out this field.</div>
                <br>
                <label>Schedule ID: </label>
                <input type="number" #s class="form-control" value={{scheduleFlight.schedule.scheduleId}} required>
                <div class="invalid-feedback">Please fill out this field.</div>
                <br>
                <input type="submit" value="MODIFY" class="btn btn-success" (click)="form.checkValidity() ? modifyScheduledFlight(i.value,a.value,s.value,f.value) : null">
            </div>
        
        </form>
    
      </div>


