<style>
  .wrapper{
  min-height: 90vh;
}
a{
   color:  #FF8040;
  }
  
  </style>
  <img src="assets/addsf.gif" alt="view" width="50%" height="100%">
  <div class="centered">
<div class="view" >
<div class="wrapper">
  <div class="container ">
 <br><br>
  
  <div class="container">
    <h3 class="font-weight-bold " style="text-align: center;">Add ScheduleFlight  </h3>
    
    <form ngNativeValidate #form>
      <label>ScheduleFlightId :</label>
      <input  [(ngModel)]="scheduleFlight.scheduleFlightId" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="scheduleFlightId" required>
     
      <br>
      <label>Source Airport :</label>
      <input  #a  type="text" class="form-control" ng-model required>
      <br>
      <label>Destination Airport :</label>
      <input (blur)="validateAirports(a.value, b.value)"  #b  type="text" class="form-control" required>
      <small *ngIf="airportValid" style="color: red;">Source and Destination cannot be the same</small>
      <br>
      <label>Departure Time :</label>
      <input  #c   class="dateselect" type="text"  class="form-control" required>
      <br>
      <label>Arrival Time :</label>
      <input (blur)="validateAirports(a.value, b.value)" #d  type="text" class="form-control" required>
      <small *ngIf="airportValid" style="color: red;">Departure Time and Arrival Time cannot be the same</small>
      <br>
      <label>Flight ID: </label>
          <input type="number" class="form-control"  [(ngModel)]="scheduleFlight.flight" [ngModelOptions]="{standalone: true}" required>
          <br>
      <label>Available Seats: </label>
          <input type="number" class="form-control"  [(ngModel)]="scheduleFlight.availableSeats" [ngModelOptions]="{standalone: true}" id="availableSeats" required>
          <div class="invalid-feedback">Please fill out this field.</div>
          <br>
          <label>Schedule ID: </label>
          <input type="number" class="form-control"  [(ngModel)]="scheduleFlight.schedule" [ngModelOptions]="{standalone: true}" id="schedule" required>
          <br>
        <div class="col-md-3 offset-md-3">
            <input  type="submit" class="confBtn btn btn-success" (click)="form.checkValidity()? addScheduleFlight(scheduleFlight,a.value,b.value,c.value,d.value) : null"  value="ADD SCHEDULE FLIGHTS">
        </div>
      </form>
      </div>
    </div>
  </div>
</div>