<div class="panel panel-primary">
  <div class="panel-heading">
  </div>
</div>   
  <img src="assets/ADD PASSENGER.gif" alt="view" width="100%" height="100%">
  <div class="centered">
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Booking Id</th>
          <th>Passenger Name</th>
          <th>Passenger Age</th>
          <th>Passenger Gender</th>
          <th>Passenger Email</th>
          <th>PassengerPhone</th>
          <th>No of Passengers</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings">
          <td>{{booking.bookingId}}</td>
          <td>{{booking.passengerName}}</td>
          <td>{{booking.passengerAge}}</td>
          <td>{{booking.passengerGender}}</td>
          <td>{{booking.passengerEmail}}</td>
          <td>{{booking.passengerPhone}}</td>
           <td>{{booking.noOfPassengers}}</td>
          <td>
        </tr>
      </tbody>
    </table>
  </div>

